.listContainer{
    width: 70%;
}
table{
    width: 100%;
}

thead,tbody{
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}
th,td{
    padding: 0.8rem;
}
th{
    font-size: 1.2rem;
}

tbody img{
    border-radius: 50%;
}
